body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkslategray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sport-kinds-head {
    background-color: #3669d8;
    padding: 5px;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.sport-kinds {
    background-color: #364668;
    margin-top: 5px;
    color: whitesmoke;
    border-radius: 15px 15px 0 0;
}

    .sport-kinds a:hover {
        color: burlywood;
    }

    .sport-kinds a {
        color: whitesmoke;
        text-decoration: none;
    }

.dark-table {
    background-color: #364668;
    color: whitesmoke;
    border-radius: 15px 15px 0 0;
}

a, .btn-link {
    color: whitesmoke;
    text-decoration: none;
}

    a:hover, .btn-link:hover {
        color: burlywood;
        text-decoration: none;
    }

div.dark-table {
    margin-top: 10px;
}

.dark-table.col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5px;
}

table.dark-table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid whitesmoke;
}

.table > tbody > tr > th {
    vertical-align: middle;
    text-align: center;
}

.dark-table-head {
    background-color: #3669d8;
    padding: 5px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    border: 1px solid whitesmoke;
}


li {
    list-style-type: none;
}

.sport-kinds ul {
    padding-left: 0px;
    text-align: center;
}

div.left-part {
    background-color: slategray;
    margin: 5px;
}

.ad {
    text-align: center;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
}
img.ad{
    width:100%;
    margin:0px;
}

span.making-bet, label.control-label, h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
}

#bets {
    margin: 5px;
}

h2.col-md-4 {
    text-align: end
}

dl {
    color: whitesmoke;
}

.bet-delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}

#stick1, #stick2 {
    display:block;
    margin-left: 2px;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    transform-origin: center;    
}

#stick1 {
    transform: rotate(45deg);
    margin-top: 8px;
}

#stick2 {
    transform: translateY(-2px) rotate(-45deg);
}

